body {
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
   background-image:url("https://cdn.crispedge.com/00512c.png");
   background-size:cover;
   text-align:center;
   color:white;
   font-weight:bold;
   padding-top:200px;
}

h1{
    color:goldenrod;
}

button{
    color: #046f32;
    width:150px;
    background:goldenrod;
    padding-top:5px;
    padding-bottom:5px;
    font-weight:bold;
    border:none;    
    border-radius:2px;
    margin-bottom:4px;
    }

#message-el{
    font-style:italic;
}
